*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
/build/
gmon.out
cachegrind.out.*
*.gcda
*.gcno
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.aux
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.log
*.out
*.toc
*.synctex.gz
*.pdf
